<!DOCTYPE html>
<html>
<head>
<title>Login</title>

<style>
body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#020617;
  font-family:Arial;
}

.box{
  background:#0f172a;
  padding:30px;
  border-radius:14px;
  width:300px;
  box-shadow:0 10px 30px rgba(0,0,0,.5);
}

input{
  width:100%;
  padding:12px;
  margin-top:10px;
  border-radius:10px;
  border:1px solid #1e293b;
  background:#020617;
  color:#fff;
}

button{
  width:100%;
  padding:12px;
  margin-top:15px;
  border:0;
  border-radius:10px;
  background:#3b82f6;
  color:#fff;
  font-weight:bold;
  cursor:pointer;
}
</style>

</head>
<body>

<form class="box" method="POST">
  <h3 style="color:white">🔐 Login Admin</h3>
  <input name="id" placeholder="ID">
  <input name="pass" type="password" placeholder="Password">
  <button>Login</button>
</form>

</body>
</html>
